<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Tools</title>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <link rel="stylesheet" href="style/tailwind.css">
</head>
<body class="bg-background text-text">
    <header class="m-4 bg-primary">
        <nav>
            <p>Hello World</p>
        </nav>
    </header>
    <main class="p-4">
        <section x-data="{ value: 0, from: 10, to: 2 }">
            <select x-model="from">
                <option value="10">Decimal</option>
                <option value="16">Hexadecimal</option>
                <option value="2">Binary</option>
            </select>
            <input type="text" class="border border-text" x-model="value">
            <select x-model="to">
                <option value="10">Decimal</option>
                <option value="16">Hexadecimal</option>
                <option value="2">Binary</option>
            </select>
            <p class="font-bold" x-text="parseInt(value,from).toString(to)"></p>
            <p @click="navigator.clipboard.writeText(parseInt(value,from).toString(to))">Copy</p>
        </section>
    </main>
</body>
</html>