<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Tools</title>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <link rel="stylesheet" href="style/tailwind.css">
</head>
<body class="bg-background text-text">
    <!-- <h1 _="on click log 'Hello World'" class="">Hello World</h1> -->
    <main class="p-4">
        <label for="dec">Decimal: </label><input _="
        on keyup call my value as a Number's toString(16) then put the result into the next <span />" type="text" class="border border-text" id="dec">
        <!-- <label for="hex">Hex</label><input type="text" class="border border-text" id="hex"> -->
        <p>Hex: <span class="font-bold"></span></p>
    </main>
</body>
</html>